body{
    font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    color: #333;
}

blockquote{
    font-style: italic;
    text-decoration: underline;
}

.step{
    padding: 20px 0;
    border-bottom: 2px dashed deeppink;
}

code{

}